In [35]:
# Importing libraries
import pandas as pd
import requests, csv

In [37]:
# Asking for the wanted month
month = str(input('Write the number of the month as for example "05" or "09". Then press Enter.'))

Write the number of the month as for example "05" or "09". Then press Enter. 05

In [38]:
# Asking for the wanted year
year = str(input('Write the year as for example "2019". Then press Enter.'))

Write the year as for example "2019". Then press Enter. 2018

In [39]:
# Creating a URL to the wanted data
url =  "http://dev.hsl.fi/citybikes/od-trips-"+ year+ "/"+year +"-"+month+".csv"

In [40]:
# Reading the data from the URL to a dataframe
data = pd.read_csv(url)

In [41]:
# Checking data
data.head(5)

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2018-05-31T23:59:54,2018-06-01T00:10:00,113.0,Veturitori,109.0,Hertanmäenkatu,1390.0,649.0
1,2018-05-31T23:59:50,2018-06-01T00:54:00,621.0,Hauenkalliontie,625.0,Suomenlahdentie,11735.0,3280.0
2,2018-05-31T23:59:40,2018-06-01T00:23:00,22.0,Rautatientori / länsi,138.0,Arabiankatu,7008.0,1417.0
3,2018-05-31T23:59:00,2018-06-01T00:08:00,135.0,Velodrominrinne,149.0,Toinen linja,2599.0,565.0
4,2018-05-31T23:58:51,2018-06-01T00:04:00,30.0,Itämerentori,64.0,Tyynenmerenkatu,1035.0,352.0

In [43]:
print(str(len(data)) + " trips were made in " + month + "/" + year+ ".")

637995 trips were made in 05/2018.