In [34]:
# Importing libraries
import pandas as pd
import geopandas as gpd
import requests, csv

In [20]:
# Asking for the wanted month
month = str(input('Write the number of the month as for example "05" or "09". Then press Enter.'))

Write the number of the month as for example "05" or "09". Then press Enter. 06

In [3]:
# Asking for the wanted year
year = str(input('Write the year as for example "2019". Then press Enter.'))

Write the year as for example "2019". Then press Enter. 2019

In [21]:
# Creating a URL to the wanted data
url =  "http://dev.hsl.fi/citybikes/od-trips-"+ year+ "/"+year +"-"+month+".csv"

In [22]:
# Reading the data from the URL to a dataframe
data = pd.read_csv(url)

In [23]:
print(str(len(data)) + " trips were made in " + month + "/" + year+ ".")

715227 trips were made in 06/2019.

In [24]:
# Setting depature and return time to datetime format
data['departure_time'] = pd.to_datetime(data['Departure'], format='%Y-%m-%dT%H:%M:%S')
data['return_time'] = pd.to_datetime(data['Return'], format='%Y-%m-%dT%H:%M:%S')

In [25]:
# New dataframe with depature time as datetimeindex
dep_index_data = data
dep_index_data['departure_time_2'] = dep_index_data['departure_time']
dep_index_data.set_index(['departure_time'], inplace=True)

In [26]:
# Selecting rows with departure time between 00:00 and 05:00
departures = dep_index_data.between_time('00:00','05:00')

In [27]:
# New dataframe with return time as datetimeindex
ret_index_data = departures.set_index(['return_time'])

In [28]:
# Selecting rows with return time between 00:00 and 05:00
returns = ret_index_data.between_time('00:00','05:00')

In [29]:
# New dataframe with only trips between 00:00 and 05:00
night = returns.reset_index()

In [30]:
# Dropping unnecessary columns
night.drop(columns=['Departure','Return'], inplace=True)

In [46]:
night.columns

Index(['return_time', 'Departure station id', 'Departure station name',
       'Return station id', 'Return station name', 'Covered distance (m)',
       'Duration (sec.)', 'departure_time_2'],
      dtype='object')

In [35]:
stations = gpd.read_file('Helsingin_ja_Espoon_kaupunkipy%C3%B6r%C3%A4asemat.shp')

In [37]:
stat = stations[['ID','Nimi','Osoite','geometry']]

In [49]:
dep_grouped_night = night.groupby('Departure station id')

In [51]:
night_mean_data = pd.DataFrame()
mean_cols = ['Covered distance (m)', 'Duration (sec.)']

for key, group in dep_grouped_night:
    mean_values = group[mean_cols].mean()
    mean_values['ID'] = key
    night_mean_data = night_mean_data.append(mean_values, ignore_index=True)

In [52]:
night_mean_data

     Covered distance (m)  Duration (sec.)     ID
0             2278.241089       947.940959    1.0
1             2179.004808       769.990385    2.0
2             2077.768908       808.126050    3.0
3             1719.640351       655.304094    4.0
4             2157.666667       770.964646    5.0
..                    ...              ...    ...
339           1427.766667       425.633333  761.0
340           1460.000000       424.038462  763.0
341           2155.500000       635.100000  767.0
342           2413.115385      1083.307692  769.0
343            860.000000       199.000000  900.0

[344 rows x 3 columns]

In [39]:
print('The length of night trips: '+str(len(night)))
geodata = night.merge(stat, on = "seutukunta")

The length of night trips: 32680

In [43]:
night.to_csv('night_06_2019.csv')